page-player {
}

.media-container {
  margin: 0 auto;
  text-align: center;
  align-content: center;
  text-align: -webkit-center;
}
.media {
  margin: 30px auto;
  width: 340px;
}
.media-details {
  text-align: left;
  width: 600px;
  color: #333;
}

@media (min-width: 767px) {
  .media {
    width: 600px;
  }
}
